:root {
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;

  --primary: 222 89% 53%;
  --primary-foreground: 210 40% 98%;

  --border: 214 32% 91%;
  --radius: 0.5rem;
}

.dark {
  --background: 222 47% 11%;
  --foreground: 210 40% 98%;

  --primary: 210 40% 98%;
  --primary-foreground: 222 47% 11%;

  --border: 217 33% 17%;
  --muted: 217 33% 17%;
}

