:root {
  --background: #f4f4f5;
  --foreground: #202020;

  --primary: #3db5ff;
  --primary-foreground: #79cbfd;

  --secondary: #3db5ff;
  --secondary-foreground: #ebebeb;

  --destructive: #dd2235c4;
  --destructive-text: #ffcaca;
  --destructive-highlight: #f35363c4;

  --ghost-highlight: #dadada;

  --border: #e5e7eb;
  --border-muted: #f1f5f9;
  --border-strong: #cbcfd6;

}

.dark {
  --background: #202020;
  --foreground: #f4f4f5;

  --primary: #38bdf8;
  --primary-foreground: #6dc7ff;

  --secondary: #3db5ff;
  --secondary-foreground: #303030;

  --ghost-highlight: #303030;

  --border: #27272a;
  --border-muted: #1f1f23;
  --border-strong: #404046;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-text: var(--destructive-text);
  --color-destructive-highlight: var(--destructive-highlight);

  --color-ghost: var(--background);
  --color-ghost-highlight: var(--ghost-highlight);

  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
  --color-border-strong: var(--border-strong);

  --color-cream: var(--cream);
  --color-sky: var(--sky);
  --color-sky-light: var(--sky-light);
  --color-dark: var(--dark);
}
